- if @countries.blank?
  You don't have any visited country
- else
  .t-row.t-head.span7.no-lmargin
    .th.span2= link_to 'COUNTRY', 'name', :rel => "#{sort_field == 0 ? sort_type : ''}", :class => 'sort'
    .th.span2= link_to 'CURRENCIES', 'currency', :rel => "#{sort_field == 1 ? sort_type : ''}", :class => 'sort'
    .th.span2 CURRENCIES SYMBOL
  - bg_class = 'event'
  - @countries.each do |country|
    -# c = Country.find_country_by_alpha2(country[1].downcase)
    - bg_class = bg_class == 'odd' ? 'even' : 'odd'
    .t-row.span7.no-lmargin{:class => bg_class}
      .t-cell.span2= country.name
      .t-cell.span2= country.currency ? country.currency['code'] : 'n/a'
      .t-cell.span2= country.currency ? country.currency['symbol'] : 'n/a'

:javascript
  $(document).ready(function(){
    
    $("a.sort").click(function(e){
      e.preventDefault();
      $.get("#{sort_country_path}", {field: $(this).attr('href'), type: $(this).attr('rel')});
    });
  });
