.span3
  %h3 Countries
  %ul.nav.nav-list
    %li.nav-header= link_to 'All Country', root_path
    %li.nav-header= link_to 'Visited Country', root_path(:list => 'visited')
    %li.nav-header Visited Countries Count
    - if current_user.visits.blank?
      %li You don't have any visited country
    - elsif current_user.visits.size==1
      %li You have visited 1 country
    - else
      %li You have visited #{current_user.visits.size} countries
    %li.nav-header Unvisited Countries
    %li select coutry to add to visited list
    ~ form_tag user_update_visit_path do
      = select_tag :country, options_for_select(@unvisits)
      = submit_tag "Set Visited"

.span.span9
  %h3= @list == 'visited' ? "Visited Countries" : "All Countries"
  .country-table.span9.no-lmargin
    = render :partial => 'countries_list', :locals => {:sort_type => 'desc', :sort_field => 0}
